<div class="container" id="about">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="team-v2" style="text-align: center">
                <img style="width:400px; height: 600px" src="{{ .Site.BaseURL }}img/cert.jpg" alt=" " />
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="title-v2 headline-center no-margin-bottom" style="padding: 100px 0;">
                <p align="left" class="no-margin-bottom">
                    <strong>天津蓝宇环境检测有限公司</strong>成立于2012年12月，坐落于天津华苑产业区。 天津蓝宇检测有限公司具有天津市质量技术监督局CMA计量认证，具有法律效力的权威第三方检验检测机构。2018年5月21日，我司通过多场所实验室认证，添加西青开发区兴华十一支路建福园1号实验室。
                    <br>
                    <br> 我司郑重
                    <strong>声明</strong>严格遵守法律法规、独立公正从业、履行社会责任、维护客户权益，接受客户及社会各方的检查与监督。
                    <br>
                    <br> 作为
                    <strong>第三方检测机构</strong>，蓝宇环境检测实验室从事环境空气和废气、水和废水、地下水、土壤和沉积物、固体废物、噪声及振动等检测领域。详细资质见公司检测
                    <a href="" onclick="openPdf();">
                        <strong>能力附表</strong>
                    </a>。公司实验室承担建设项目竣工环境保护验收监测，接受委托检测，为社会提供监测技术服务及环境检测咨询服务，为环境保护提供强有力的技术支持。

                    <br>
                    <br> 蓝宇检测一直倡导友好、先进的环境理念，做环境健康的守卫者。始终坚持选用最有效方法满足严格的检测要求，为客户提供可靠高效的服务，是您值得信赖的合作伙伴。
                </p>
            </div>
        </div>
    </div>
    <!--=== End Title v1 ===-->

    <!--=== Parallax About Block ===-->
    <div class="parallax-bg parallaxBg1">
        <div class="container content parallax-about">
            <div class="headline-center">
                <h2>我们的
                    <span class="color-green">团队</span>
                </h2>
                <p>我们的团队由副高级工程师、助理工程师等多人组成。他们本着科学、严谨、负责的态度，用最适当的检测方法和技术完成每一次检测任务。
                    <br>他们是改善环境的工程师，为人类共同的家园默默奉献着自己的力量。</p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/work/about1.JPG" alt="" />
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/work/about2.jpg" alt="" />
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/work/about4.JPG" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->
    </div>
    <!--=== End Parallax About Block ===-->


    <!--=== Team v3 ===-->
    <div class="container content-sm">
        <div class="headline-center">
            <h2>
                <span class="color-green">加入</span>我们</h2>
            <p>如果您和我们一样关怀生态环境，拥有相关技术或经验，有热情和决心做环境健康的守卫者，请将您的个人简历作为附件发送邮件至
                <br>
                <strong>
                    <a href="mailto:lanyujiance@163.com" class="">lanyujiance@163.com</a>
                </strong>
            </p>
        </div>
    </div>
</div>


<script type="text/javascript">
    function openPdf() {
        var win = window.open("{{ .Site.BaseURL }}file/accd.pdf", "file");
        win.focus();
    }
</script>