{{ if isset .Site.Params "features" }} {{ if .Site.Params.features.enable }} {{ if gt (len .Site.Data.features) 0 }}
<section>
<div class="container content-sm">
        {{ range $index, $element := sort .Site.Data.features.items "weight" }}
            {{ if eq (mod $index 4) 0 }}
                <div class="row">
            {{ end }}
                    <div class="col-md-3">
                        <div class="service">
                            <a href="{{ $element.link }}">
                                <i class="fa {{ $element.icon }} fa-3x service-icon"></i>
                                <div class="desc">
                                    <h4> {{$element.title}} </h4>
                                    <p> {{ $element.description | markdownify }} </p>
                                </div>
                            </a>
                        </div>
                    </div>
            {{ if or (eq (mod $index 4) 3) (eq $index (sub (len $.Site.Data.features.items) 1 )) }}
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }} {{ end }} {{ end }}