{{ if isset .Site.Params "see_more" }} {{ if .Site.Params.see_more.enable }}
<section class="bar mybg no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.see_more.logo }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm">
                <h3 class="text-uppercase">{{ .Site.Params.see_more.title }}</h3>
                <p class="lead">{{ .Site.Params.see_more.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }} {{ end }}