<div class="wrapper" id="service_air">
    <!--=== Service Block ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>大气环境检测</h2>
                <p>大气是地球表面一切生命物质赖以生存的基本条件。
                    <br>当某些有害物质排放到大气中，其数量、浓度和存留时间都超过了环境所能允许的极限，造成大气污染，严重威胁着人们的身心健康。
                    <br>
                    <br>蓝宇环境检测公司大气环境检测项目主要分为
                    <strong>环境空气检测 、固定污染源废气、烟尘的测定、室内空气检测及饮食业油烟检测</strong>等。</p>
            </div>



            <!-- Service Blcoks -->
            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-layers"></i>
                        <h2 class="heading-sm">空气质量检测</h2>
                        <ul class="list-unstyled">
                            <li>气态无机污染物的测定</li>
                            <li>气态有机污染物的测定</li>
                            <li>颗粒物及其元素的测定</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-layers"></i>
                        <h2 class="heading-sm">室内空气检测</h2>
                        <ul class="list-unstyled">
                            <li>有机物</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-layers"></i>
                        <h2 class="heading-sm">污染源检测</h2>
                        <ul class="list-unstyled">
                            <li>烟气参数的测定</li>
                            <li>颗粒物及金属化合物的测定</li>
                            <li>气态污染物的测定</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Service Blcoks -->
        </div>
    </div>


    <!--=== Process v1 ===-->
    <div class="process-v1">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>检测流程</h2>
                <p>执行国家标准、行业标准、地方标准 环节无缝衔接 准确高效完成</p>
                <p>委托项目达成后我们会第一时间处理您的需求</p>
            </div>
            <ul class="list-inline row process-in process-border">
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>方案制定</h3>
                        <p>根据环境空气，固定污染源废气项目进行现场勘查，开展合同评审，签订委托合同，制定检测方案。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>现场采样</h3>
                        <p>技术人员进行现场样品采集与现场检测，填写样品采集与现场检测记录，进行样品交接。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>实验室分析</h3>
                        <p>针对不同样品进行唯一性标识，对样品进行化验分析，做好原始记录校对、核查。</p>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>报告签发</h3>
                        <p>检测报告编制、审核、盖章、签发。</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Process v1 ===-->


    <div id="footer"></div>
</div>