<div class="wrapper" id="service_noise">
    <!--=== Service Block ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>噪声检测</h2>
                <p>噪声，是由各种不同频率、不同强度的声音杂乱无规律的组合而成,干扰人们生活。噪声污染的危害虽是非致命、间接的、缓慢的，但对人心理、生理上的影响不可忽略。城市环境的噪声主要来源于
                    <strong>环境噪声、工业噪声、建筑施工噪声、社会生活噪声</strong>。
                    <br>
                    <br>蓝宇环境检测噪声组是一支拥有着专业的技术人员，先进的仪器设备的优秀团队，可以为广大客户提供一个服务周到、数据可靠的噪声检测服务。</p>
            </div>


            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-volume-2"></i>
                        <div class="service-block-desc">
                            <h3>环境噪声检测</h3>
                            <p>主要针对声环境评价与管理。</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-volume-2"></i>
                        <div class="service-block-desc">
                            <h3>工业企业厂界环境噪声检测</h3>
                            <p>工业噪声是指在工业生产活动中使用固定设备时产生的干扰周围生活环境的声音。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->

            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-volume-2"></i>
                        <div class="service-block-desc">
                            <h3>建筑施工场界环境噪声检测</h3>
                            <p>建筑施工噪声是在在建筑施工过程中产生的干扰周围生活环境的声音。</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-volume-2"></i>
                        <div class="service-block-desc">
                            <h3>社会生活环境噪声检测</h3>
                            <p>社会生活噪声是指人为活动所产生的除工业噪声、建筑施工噪声和交通运输噪声之外的干扰周围生活环境的声音。</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- End Service Block v8 -->
        </div>
    </div>

    <!--=== End Service Block ===-->

    <!--=== Process v1 ===-->
    <div class="process-v1">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>检测流程</h2>
                <p>执行国家标准、行业标准、地方标准 环节无缝衔接 准确高效完成</p>
                <p>委托项目达成后我们会第一时间处理您的需求</p>
            </div>
            <ul class="list-inline row process-in process-border">
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>方案制定</h3>
                        <p>根据客户需求，开展合同评审，签订委托合同，制定检测方案。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>点位选择</h3>
                        <p>根据现场情况选择合理检测点位，满足检测要求。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>现场检测</h3>
                        <p>根据现场情况选择测量时段，进行噪声判断。</p>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>报告签发</h3>
                        <p>检测报告编制、审核、盖章、签发。</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Process v1 ===-->