<div class="wrapper" id="service_soil">
    <!--=== Service Block ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>土壤检测</h2>
                <p>蓝宇环境检测开展对
                    <strong>土壤、底泥、固体废弃物</strong>的检测，并对检测数据实施质量控制，以确保检测数据的准确性。</p>
            </div>


            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-diamond"></i>
                        <div class="service-block-desc">
                            <h3>金属元素的测定</h3>
                            <p>检测土壤、底泥、固体废弃物的金属元素。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-diamond"></i>
                        <div class="service-block-desc">
                            <h3>放射性物质的测定 </h3>
                            <p>检测土壤、底泥、固体废弃物的放射性污染物。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>

    <!--=== End Service Block ===-->

    <!--=== Process v1 ===-->
    <div class="process-v1">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>检测流程</h2>
                <p>执行国家标准、行业标准、地方标准 环节无缝衔接 准确高效完成</p>
                <p>委托项目达成后我们会第一时间处理您的需求</p>
            </div>
            <ul class="list-inline row process-in process-border">
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>方案制定</h3>
                        <p>根据客户需求，开展合同评审，签订委托合同，制定检测方案。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>现场采样</h3>
                        <p>技术人员进行现场样品采集与现场检测，填写样品采集与现场检测记录，进行样品交接。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>实验室分析</h3>
                        <p>针对不同样品进行唯一性标识，对样品进行化验分析，做好原始记录校对、核查。</p>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>报告签发</h3>
                        <p>检测报告编制、审核、盖章、签发。</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Process v1 ===-->