<div class="wrapper" id="service_water">
    <!--=== Service Block ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>水质检测</h2>
                <p>水是构成地球的最基本要素，更是所有生命体不可或缺的物质，干净的水质是健康生活的重要保证。随着工业的发展，环境不断恶化，水质遭到严重污染。
                    <br>
                    <br>蓝宇环境检测水质组对
                    <strong>地表水、生活污水、生活饮用水、工业废水、医院废水及宾馆饭店废水等</strong>提供全方位准确优质的检测服务。</p>
            </div>

            <!-- Service Blcoks -->
            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-drop"></i>
                        <h2 class="heading-sm">综合指标和无机污染物</h2>
                        <ul class="list-unstyled">
                            <li>理化指标的测定</li>
                            <li>无机阴离子的测定</li>
                            <li>营养盐及有机污染物综合指标的测定</li>
                            <li>金属及其化合物的测定</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-drop"></i>
                        <h2 class="heading-sm">有机污染物</h2>
                        <ul class="list-unstyled">
                            <li>有机污染物类别测定</li>
                            <li>挥发性和半挥发性有机污染物的测定</li>
                            <li>特定有机污染物的测</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block-v1 service-block-default no-margin-bottom">
                        <i class="icon-drop"></i>
                        <h2 class="heading-sm">水和废水中的生物监测</h2>
                        <ul class="list-unstyled">
                            <li>水生生物群落的测定</li>
                            <li>水中的细菌学的测定</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Service Blcoks -->
        </div>
    </div>
    <!--=== End Service Block ===-->

    <!--=== Process v1 ===-->
    <div class="process-v1">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>检测流程</h2>
                <p>执行国家标准、行业标准、地方标准 环节无缝衔接 准确高效完成</p>
                <p>委托项目达成后我们会第一时间处理您的需求</p>
            </div>
            <ul class="list-inline row process-in process-border">
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>方案制定</h3>
                        <p>根据客户需求，开展合同评审，签订委托合同，制定检测方案。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>现场采样</h3>
                        <p>技术人员进行现场样品采集与现场检测，填写样品采集与现场检测记录，进行样品交接。</p>
                    </div>
                </li>
                <li class="col-sm-3 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>实验室分析</h3>
                        <p>针对不同样品进行唯一性标识，对样品进行化验分析，做好原始记录校对、核查。</p>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>报告签发</h3>
                        <p>检测报告编制、审核、盖章、签发。</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Process v1 ===-->